@model IEnumerable<InterViewUse.Models.Shippers>
@{
    ViewBag.Title = "Index";
}
<div>
    <button class="btn btn-outline-info m-1" id="btn_create_new">新增一筆資料</button>
    <label for="txt_search">輸入公司編號查詢:</label>
    <input type="text" id="txt_search" name="txt_search" placeholder="輸入公司編號" />
    <button id="btn_search" type="button" class="btn btn-light">查詢</button>
    <a class="btn btn-outline-success" href="~/Home/Index">顯示全部</a>

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.ShipperID)</th>
            <th>@Html.DisplayNameFor(s => s.CompanyName)</th>
            <th>@Html.DisplayNameFor(s => s.Phone)</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody id="I_tbody">
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.ShipperID</td>
                <td>@s.CompanyName</td>
                <td>@s.Phone</td>
                <td>
                    <button type="button" name="btn_edit" class="btn btn-info mr-1" title="編輯" data-value="@s.ShipperID"><i class="far fa-edit"></i></button>
                    <button type="button" name="btn_del" class="btn btn-danger ml-1" title="刪除" data-value="@s.ShipperID"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="createnewone" tabindex="-1" role="dialog" aria-labelledby="createnewoneTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content show_model" >
            <div class="modal-body">
               <div id="show_partial"></div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            var CreateNew = $("#btn_create_new");
            var show_partial = $("#show_partial");
            var I_tbody = $("#I_tbody");
            var btn_search = $("#btn_search");
            var reg = /^[1-9]{1}[\d]*$/;
            var txt_search = $("#txt_search");
            CreateNew.click(function () {
                show_partial.load('@Url.Action("CreateNewOne_partial", "Home")')
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })               
            });
            I_tbody.on("click", "td>button[name='btn_edit']", function () {
                show_partial.load("/Home/AlterShip_partial/" + $(this).data("value"))
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })                
            });
            I_tbody.on("click", "td>button[name='btn_del']", function () {
                show_partial.load("/Home/Delete_shih_partial/" + $(this).data("value"))
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })    
            });
            btn_search.click(function () {
                //
                if (reg.test(txt_search.val())) {
                    $.ajax({
                        type: "Get",
                        url: '@Url.Action("Search", "Home")',
                        data: { id: txt_search.val() }
                    }).done(function (datas) {
                        if (datas != "無此公司編號") {
                            I_tbody.text("");
                            var tr = $("<tr></tr>");
                            var td1 = $("<td></td>").text(datas.ShipperID);
                            var td2 = $("<td></td>").text(datas.CompanyName);
                            var td3 = $("<td></td>").text(datas.Phone);
                            var td4 = $("<td></td>").html('<button type="button" name="btn_edit" class="btn btn-info mr-1" title="編輯" data-value="' + datas.ShipperID + '"><i class="far fa-edit"></i></button><button type="button" name="btn_del" class="btn btn-danger ml-1" title="刪除" data-value="' + datas.ShipperID + '"><i class="fas fa-trash-alt"></i></button>');
                            tr.append([td1, td2, td3, td4]);
                            I_tbody.append(tr);
                        }
                        else {
                            alert("無此公司編號!!");
                            txt_search.val("");
                        }
                    });
                }
                else {
                    alert("請輸入0以上的數字");
                    txt_search.val("");
                }
            });
        });
    </script>
}
