@model IEnumerable<InterViewUse.Models.Shippers>
@{
    ViewBag.Title = "Index";
}
@section style{
    <style>
        .show_model {
            max-width: 350px;
        }
        .display_flex_justify-content_space-around {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        tr{
            text-align:center;
        }
    </style>
    }
<button class="btn btn-outline-info m-1" id="btn_create_new">新增一筆資料</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.ShipperID)</th>
            <th>@Html.DisplayNameFor(s => s.CompanyName)</th>
            <th>@Html.DisplayNameFor(s => s.Phone)</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody id="I_tbody">
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.ShipperID</td>
                <td>@s.CompanyName</td>
                <td>@s.Phone</td>
                <td>
                    <button type="button" name="btn_edit" class="btn btn-info mr-1" title="編輯" data-value="@s.ShipperID"><i class="far fa-edit"></i></button>
                    <button type="button" name="btn_del" class="btn btn-danger ml-1" title="刪除" data-value="@s.ShipperID"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="createnewone" tabindex="-1" role="dialog" aria-labelledby="createnewoneTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content show_model" >
            <div class="modal-body">
               <div id="show_partial"></div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            var CreateNew = $("#btn_create_new");
            var show_partial = $("#show_partial");
            var I_tbody = $("#I_tbody");
            CreateNew.click(function () {
                show_partial.load('@Url.Action("CreateNewOne_partial", "Home")')
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })               
            });
            I_tbody.on("click", "td>button[name='btn_edit']", function () {
                show_partial.load("/Home/AlterShip_partial/" + $(this).data("value"))
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })                
            });
            I_tbody.on("click", "td>button[name='btn_del']", function () {
                show_partial.load("/Home/Delete_shih_partial/" + $(this).data("value"))
                $(this).attr({ "data-toggle": "modal", "data-target": "#createnewone" })    
            });
        });
    </script>
}
