@model InterViewUse.Models.ShopUse
@{
    ViewBag.Title = "Index";
}

<h2>商城</h2>
<div class="screen">
    <div class="shop_list">
        <div id="category_list" class="list-group">
            <a id="cate_init" href="#" data-value="@TempData["change"]" class="list-group-item list-group-item-action disabled">產品種類</a>
            <a href="~/Shop/Index/0" name="category_title_id" data-value="0" class="list-group-item list-group-item-action ">所有產品</a>
            @foreach (var c in Model.categories)
            {
                <a href="~/Shop/Index/@c.CategoryID" name="category_id" data-value="@c.CategoryID" class="list-group-item list-group-item-action">@c.CategoryName</a>
            }
        </div>
    </div>
    <div class="shop_product">
        @foreach (var p in Model.products)
        {
            <div class="card shop_card">
                <img src="@Url.Action("GetImage","Shop",new {id = p.CategoryID})" class="card-img-top" alt="種類照片">
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayNameFor(pt => pt.products.FirstOrDefault().ProductName) : @p.ProductName</h6>
                    @if (p.UnitsInStock != 0)
                    {
                        <p class="card-text">
                            @Html.DisplayNameFor(pt => pt.products.FirstOrDefault().UnitPrice) : @(string.Format($"{p.UnitPrice:C2}"))
                            <br />
                            @Html.DisplayNameFor(pt => pt.products.FirstOrDefault().UnitsInStock) :@p.UnitsInStock
                        </p>
                        <button type="button" class="btn btn-primary">放入購物車</button>
                    }
                    else
                    {
                        <p class="card-text">
                            @Html.DisplayNameFor(pt => pt.products.FirstOrDefault().UnitPrice) : @(string.Format($"{p.UnitPrice:C2}"))
                            <br />
                            @Html.DisplayNameFor(pt => pt.products.FirstOrDefault().UnitsInStock) :@p.UnitsInStock
                        </p>
                        <button type="button" class="btn btn-warning" disabled>已無庫存</button>
                    }
                </div>
            </div>
        }        
    </div>
</div>
@section script{
    <script>
        $(document).ready(function () {
            console.log($("#cate_init").data("value"));
            if ($("#cate_init").data("value") == 0) {
                $("a[name='category_title_id']").addClass("active");
            }
            else {
                $("#category_list>a[name='category_id']").each(function () {
                    if ($(this).data("value") == $("#cate_init").data("value")) {
                        $(this).addClass("active")
                    }
                });
            }
        });
    </script>
}
