@model InterViewUse.Models.Shippers
@{
    ViewBag.Title = "Index";
}

<h2>使用Api</h2>
<div>
    <button class="btn btn-outline-info m-1" data-toggle="modal" data-target="#Api_Model">新增一筆資料</button>
    <label for="txt_search">輸入公司編號查詢:</label>
    <input type="text" id="txt_search" name="txt_search" placeholder="輸入公司編號" />
    <button id="btn_search" type="button" class="btn btn-light">查詢</button>
    <a id="search_all" class="btn btn-outline-success" href="#">顯示全部</a>
</div>

<table class="table table-bordered ">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.ShipperID)</th>
            <th>@Html.DisplayNameFor(s => s.CompanyName)</th>
            <th>@Html.DisplayNameFor(s => s.Phone)</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="Api_Model" tabindex="-1" role="dialog" aria-labelledby="ApiTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content show_model">
            <div class="modal-body">
                <h5 id="ApiTitle">新增公司資料</h5>
                <div class="form-group">
                    @Html.LabelFor(s => s.CompanyName):
                    @Html.TextBoxFor(s => s.CompanyName, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Phone):
                    @Html.TextBoxFor(s => s.Phone, new { @class = "form-control", required = "required" })
                </div>
                <div class="display_flex_justify-content_space-around">
                    <button type="submit" name="btn_create" data-dismiss="modal" class="btn btn-primary">新增</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal show" id="Check_del" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <h5>確認刪除此筆??</h5>
                </div>
                <div class="display_flex_justify-content_space-around">
                    <input type="hidden" id="h_value"/>
                    <button id="btn_s_del" type="button" class="btn btn-primary" data-dismiss="modal">刪除</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(document).ready(function () {
            var btn_create = $("button[name='btn_create']");
            var btn_s_del = $("#btn_s_del");
            var tbody = $("#tbody");
            var btn_search = $("#btn_search");
            var search_all = $("#search_all");
            var txt_search = $("#txt_search");
            var reg = /^[1-9]{1}[\d]*$/;
            var url = "/api/Apis"
            function load()
            {               
                tbody.html("");
                txt_search.val("");
                var doc = $(document.createDocumentFragment());
                $.ajax({
                    type: "Get",
                    url: url
                }).done(function (datas) {
                    $.each(datas, function (i, v) {
                        var tr = $("<tr></tr>");
                        var td1 = $("<td></td>").text(v.ShipperID);
                        var td2 = $("<td></td>").append($("<p></p>").text(v.CompanyName));
                        var td3 = $("<td></td>").append($("<p></p>").text(v.Phone));
                        var td4 = $("<td></td>").append("<button title='編輯' name='btn_edit' class='btn btn-info mr-1'><i class='far fa-edit'></i></button> <button name='btn_del' title='刪除' class='btn btn-danger ml-1'><i class='fas fa-trash-alt'></i></button>");
                        tr.append([td1, td2, td3, td4]);
                        doc.append(tr);
                    });
                    tbody.append(doc);
                });
            }
            load();
            //=======================================按下新增=========================================
            btn_create.click(function () {
                var datas = JSON.stringify({ "CompanyName": $("#CompanyName").val(), "Phone": $("#Phone").val() })
                $.ajax({
                    type: "Post",
                    url: url,
                    contentType: "application/json",
                    data: datas,
                    statusCode: {
                        201: function (data) {
                            alert("新增成功");
                            load();
                        }
                    }               
                });
            });
            //========================================按下修改=========================================
            tbody.on("click", "td>button[name='btn_edit']", function () {
                var edit_ok = false;
                $(this).parents("tr").find("p").each(function () {
                    if (!$(this).attr("contentEditable")) {
                        $(this).attr("contentEditable", true).css("border", "1px solid red");
                    }
                    else {
                        $(this).removeAttr("contentEditable").removeAttr("style");
                        edit_ok = true;
                    }                                        
                });
                if (edit_ok) {
                    var datas = JSON.stringify({ "ShipperID": $(this).parents("tr").children("td:nth-child(1)").text(), "CompanyName": $(this).parents("tr").children("td:nth-child(2)").find("p").text(), "Phone": $(this).parents("tr").children("td:nth-child(3)").find("p").text() });
                    $.ajax({
                        type: "Put",
                        url: url,
                        contentType: "application/json",
                        data: datas,
                        statusCode: {
                            204: function (data) {
                                alert("修改成功");
                                load();
                            }
                        }
                    });
                }                  
            });
            //=========================================按下刪除================================================
            tbody.on("click", "td>button[name='btn_del']", function () {
                $(this).attr({ "data-toggle": "modal", "data-target": "#Check_del" })
                $("#h_value").val($(this).parents("tr").children("td:nth-child(1)").text());
            });
            btn_s_del.click(function () {
                $.ajax({
                    type: "Delete",
                    url: url + "/" + $("#h_value").val(),
                    contentType: "application/json",
                    statusCode: {
                        204: function (data) {
                            alert("刪除成功");
                            load();
                        }
                    }
                })
            });
            //========================================按下顯示所有=============================================
            search_all.click(function () {
                load();
            });
            //========================================按下查詢==================================================
            btn_search.click(function () {
                if (reg.test(txt_search.val())) {
                    $.ajax({
                        type: "Get",
                        url: url + "/" + txt_search.val()
                    }).done(function (datas) {
                        if (datas != null) {
                            tbody.text("");
                            var tr = $("<tr></tr>");
                            var td1 = $("<td></td>").text(datas.ShipperID);
                            var td2 = $("<td></td>").append($("<p></p>").text(datas.CompanyName));
                            var td3 = $("<td></td>").append($("<p></p>").text(datas.Phone));
                            var td4 = $("<td></td>").append("<button title='編輯' name='btn_edit' class='btn btn-info mr-1'><i class='far fa-edit'></i></button> <button name='btn_del' title='刪除' class='btn btn-danger ml-1'><i class='fas fa-trash-alt'></i></button>");
                            tr.append([td1, td2, td3, td4]);
                            tbody.append(tr);
                        }
                        else {
                            alert("沒有此公司編號!!");
                            txt_search.val("");
                        }
                   })
                }
                else {
                    alert("請輸入0以上的數值");
                    txt_search.val("");
                }
            });
        });
    </script>
}