@model InterViewUse.Models.Shippers
@{
    ViewBag.Title = "Index";
}

<h2>第二頁面</h2>
<button class="btn btn-outline-info m-1" data-toggle="modal" data-target="#Api_Model">新增一間運輸公司</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(s => s.ShipperID)</th>
            <th>@Html.DisplayNameFor(s => s.CompanyName)</th>
            <th>@Html.DisplayNameFor(s => s.Phone)</th>
            <th>編輯</th>
        </tr>
    </thead>
    <tbody id="tbody"></tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="Api_Model" tabindex="-1" role="dialog" aria-labelledby="ApiTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content show_model">
            <div class="modal-body">
                <h5 id="ApiTitle">新增公司資料</h5>
                <div class="form-group">
                    @Html.LabelFor(s => s.CompanyName):
                    @Html.TextBoxFor(s => s.CompanyName, new { @class = "form-control", required = "required" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(s => s.Phone):
                    @Html.TextBoxFor(s => s.Phone, new { @class = "form-control", required = "required" })
                </div>
                <div class="display_flex_justify-content_space-around">
                    <button type="submit" name="btn_create" data-dismiss="modal" class="btn btn-primary">新增</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section script{
    <script>
        $(document).ready(function () {
            var btn_create = $("button[name='btn_create']");
            var tbody = $("#tbody");
            var url = "/api/Apis"
            var doc = $(document.createDocumentFragment());
            function load()
            {
                $.ajax({
                    type: "Get",
                    url: url
                }).done(function (datas) {
                    $.each(datas, function (i, v) {
                        var tr = $("<tr></tr>");
                        var td1 = $("<td></td>").text(v.ShipperID);
                        var td2 = $("<td></td>").text(v.CompanyName);
                        var td3 = $("<td></td>").text(v.Phone);
                        var td4 = $("<td></td>").append("<button title='編輯' class='btn btn-info mr-1'><i class='far fa-edit'></i></button> <button title='刪除' class='btn btn-danger ml-1'><i class='fas fa-trash-alt'></i></button>");
                        tr.append([td1, td2, td3, td4]);
                        doc.append(tr);
                    });
                    tbody.append(doc);
                });
            }
            load();
            btn_create.click(function () {
                var datas = JSON.stringify({ "CompanyName": $("#CompanyName").val(), "Phone": $("#Phone").val() })
                $.ajax({
                    type: "Post",
                    url: url,
                    contentType:"application/json",
                    data: datas
                }).done(function (datas) {
                    alert(datas);                   
                    load();
                    })
            });
        });
    </script>
}